<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.homework5_2">

    <application
        android:name=".DataBase.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_contact"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_contact_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">
        <provider
            android:name=".DataBase.MyContentProvider"
            android:authorities="com.denzap.provider" />

        <activity android:name="com.example.homework5_2.Visibility.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.homework5_2.Visibility.AddContactActivity">

        </activity>
        <activity android:name="com.example.homework5_2.Visibility.EditContactActivity">

        </activity>

        <activity android:name=".Visibility.SettingsActivity">

        </activity>
    </application>

</manifest>